.reachOut-container {
    background-color: #0d2c3f;
    color: #fff;
}

.reachOut {
    padding: 4% 13% 0 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reachout--text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.reachout-avater {
    width: 100%;
    border-radius: 6px;
}

.contact-btn {
    background: #fff;
    color: #000133;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.back-to-top {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    padding: 40px 0 20px 0;
}


@media screen and (max-width: 768px) {

    .reachOut {
        flex-direction: column;
    }
}
