.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color:  #0058cc;
    color: #0b2434;
    padding: 10px 6%;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem;
}

.navbar--links {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
}

.navbar--links .li-link {
    text-decoration: none;
    margin: 0 10px;
    color: #000;
}

.navbar--links .li-link:hover {
    color: #0b2434;
    border-bottom: #000 2px solid;
}

.hamburger {
    display: none;
}


@media screen and (max-width: 768px) {
   
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar--links {
        display: none;
    }

}