.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 20px 6%;
}

.header-link {
    text-decoration: none;
    color: #fff;
}

.header-link h1 {
    margin: 0;
    font-size: 1.4rem;
    border-bottom: #ffcc00 2px solid;
}

.header-link h1:hover {
    color: #fff;
}

.navbar--links {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.navbar--links .li-link {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}

.navbar--links .li-link:hover {
    color: #fff;
    border-bottom: #ffcc00 2px solid;
}

.hamburger {
    display: none;
}


@media screen and (max-width: 768px) {
   
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar--links {
        display: none;
    }

}