.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 1px solid #0b2434;
    border-radius: 6px;
    padding: 10px 40px 10px 40px;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 10px 10px;
}


@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}